.rsindicator {
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 12px 12px 12px 12px;
  display: none;
  height: 16px;
  left: 150px;
  padding: 2px;
  position: absolute;
  top: 51px;
  width: 16px;
}
.rssaving {
  background-image: url("images/indicator.gif");
  display: block;
}
.rserror {
  background-image: url("images/warning.png");
  background-position: 2px 0;
  border-color: #CC0000;
  display: block;
}

.period-end {
    border-right: 1px solid #000 !important;
}


#time-entry-dialog label {
  width: 120px;
  float: left
}

#time-entry-dialog input, #time-entry-dialog span {
  width: 120px;
  float: left
}

#time-entry-dialog p {
  clear: both;
  width: 300px;
  padding: 8px 0;
}

.no-time-entry {
  color:#8686cb;
  font-weight: normal;
}

.time-entry {
  color: #777777;
  font-weight: bold;
}

table.list {
  margin-bottom: 0px;
  font-size: 11px;
}

table.list tbody tr.subtotal {
  color: #484848;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}

table.list td.time-entry:hover, table.list td.no-time-entry:hover {
  background-color: #759fcf;
} 

table.list th {
  font-size: 12px;
}

table.list tr {
  height: 24px;
}

.ko-report-block {
  clear: both;
}

.ko-left {
  float:left;
  width: 384px;
}

.ko-right {
  float:left;
  max-width: 1260px;
}

#ko-header-right {
  overflow-x: hidden;
}

#ko-body-left {
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#ko-body-right {
  max-height: 720px;
  width: 1280px;
  overflow-x: auto;
  overflow-y: auto;
}

.hidden-row {
  height: 0 !important;
}

.hidden-cell {
  visibility: collapse;
  padding 0 4px;
  font-weight: bold;
}

.left {
  float: left;
}
