.rsindicator {
  background-color: #FFFFFF;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 12px 12px 12px 12px;
  display: none;
  height: 16px;
  left: 150px;
  padding: 2px;
  position: absolute;
  top: 51px;
  width: 16px;
}
.rssaving {
  background-image: url("images/indicator.gif");
  display: block;
}
.rserror {
  background-image: url("images/warning.png");
  background-position: 2px 0;
  border-color: #CC0000;
  display: block;
}

.period-end {
    border-right: 1px solid #000 !important;
}


#time-entry-dialog label {
  width: 120px;
  float: left
}

#time-entry-dialog input, #time-entry-dialog span {
  width: 120px;
  float: left
}

#time-entry-dialog p {
  clear: both;
  width: 300px;
  padding: 8px 0;
}

.no-time-entry {
  color:#8686cb;
  font-weight: normal;
}

table#ko-table tbody tr.subtotal {
  color: #777777;
  font-style: italic;
}

#ko-table tr {
  height: 40px;
}

#ko-table {
  max-height: 400px;
}

#ko-table td.time-entry:hover {
  background-color: #759fcf;
} 

#ko-table .col1 {
  position: absolute;
  width: 6em;
  left: 0;
  top: auto;
  height: 40px;
}
#ko-table .col2 {
  position: absolute;
  width: 18em;
  left: 6em;
  top: auto;
  height: 40px;
}
#ko-table .col3 {
  position: absolute;
  width: 6em;
  left: 24em;
  top: auto;
  height: 40px;
}
#ko-table .col-total {
  position: absolute;
  width: 30em;
  left: 0;
  top: auto;
  height: 40px;
}
.ko-scroller {
  overflow-x: scroll;
  margin-left: 30em;
  overflow-y: visible;
  padding-bottom: 1px;
}

div.left {
  float:left;
  width: 250px;
  padding: 0 3px;
}

div.hidden {
  display: none;
}
